<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.sleev.Sleev.Agent</string>
    <key>BundleProgram</key>
    <string>Contents/Library/LoginItems/SleevAgent.app/Contents/MacOS/SleevAgent</string>
    <key>MachServices</key>
    <dict>
        <key>dev.sleev.Sleev.Agent.xpc</key>
        <true/>
    </dict>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>dev.sleev.Sleev</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
